body {
    margin: 0;
    overflow: hidden;
    background-color: #0b1116;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    touch-action: none;
}

#menu-inicio {
    position: absolute; width: 100%; height: 100%;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    background: radial-gradient(circle, #1a252f 0%, #0b1116 100%);
    z-index: 1000;
}

#score-container {
    position: absolute; top: 15px; right: 20px;
    font-size: 1.2rem; font-weight: bold; color: #00d4ff;
    letter-spacing: 2px; z-index: 100;
}

#word-runner {
    position: absolute; top: 60px; right: -200px; /* Empieza fuera a la derecha */
    background: rgba(0, 212, 255, 0.1); border: 1px solid #00d4ff;
    padding: 10px 25px; font-size: 1.4rem; letter-spacing: 5px;
    text-transform: uppercase; white-space: nowrap;
    box-shadow: 0 0 15px rgba(0, 212, 255, 0.3);
    z-index: 10;
}

.btn-opcion {
    background: rgba(255,255,255,0.05); border: 1px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.8); padding: 12px 20px; margin: 5px; cursor: pointer;
}

.btn-opcion.active { border-color: #00d4ff; color: #00d4ff; background: rgba(0, 212, 255, 0.1); }

#btn-jugar {
    background: #00d4ff; color: #0b1116; border: none;
    padding: 15px 50px; font-weight: 700; letter-spacing: 4px; margin-top: 30px;
}

#btn-reiniciar {
    display: none; position: absolute;
    top: 65%; left: 50%; transform: translateX(-50%);
    background: none; border: none; border-bottom: 2px solid #00d4ff;
    color: #00d4ff; font-size: 1.2rem; cursor: pointer; z-index: 1100;
}