body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle, #2c3e50 0%, #000000 100%);
    font-family: 'Segoe UI', sans-serif;
    touch-action: none;
}

/* Menú Principal */
#menu-inicio {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    z-index: 100;
    width: 85%; max-width: 400px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.btn-opcion {
    border: 2px solid #ddd;
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

.btn-opcion.active {
    background: #2ecc71;
    color: white;
    border-color: #27ae60;
}

#btn-jugar {
    background: #3498db;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

/* SIDEBAR FASHION */
.sidebar-fashion {
    position: absolute;
    left: 10px; top: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 10;
}

.word-pill {
    background: rgba(26, 37, 47, 0.6);
    border: none;
    border-left: 2px solid #00d4ff; /* Solo una línea fina a la izquierda */
    color: #ffffff;
    padding: 8px 15px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-align: left;
    transition: all 0.4s ease;
}
/* Animación pro para la palabra encontrada */
.word-pill.found {
    border-left-color: #2ecc71;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: line-through;
    background: transparent;
}

@keyframes wordOut {
    0% { transform: scale(1); opacity: 1; filter: brightness(2); }
    100% { transform: scale(1.5); opacity: 0; filter: blur(10px); }
}
#gameCanvas { display: none; }
#btn-reiniciar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: #2ecc71;
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    z-index: 200; /* Por encima de la capa de fin de juego */
    cursor: pointer;
}
h1 {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1;
    color: #3326c0;
    letter-spacing: 2px; /* Espaciado elegante */
    text-transform: uppercase;
    margin-bottom: 30px;
       
    
}